<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ss="http://www.springframework.org/schema/security"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
   	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
   	http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
   	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
   	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
   	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
   	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd">

	<!-- 注册相关后置处理器,扫描包路径下的注解配置 -->
	 <context:component-scan base-package="com.adanac.tool" >
	 	<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>   
	 </context:component-scan>
	<!-- 初始化logback配置文件 -->
	<bean id="loggingInitialization"
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetClass"
			value="com.adanac.framework.log.config.LogbackConfigurer" />
		<property name="targetMethod" value="initLogging" />
		<property name="arguments">
			<list>
				<value>classpath:conf/log/main_${envName}_logging.xml</value>
			</list>
		</property>
	</bean>

	<!-- 自定义配置 -->
	<bean id="SearchService" class="com.adanac.tool.rageon.service.module.solr.SearchServiceImpl" >
		<!--	未使用原因同activeMqService 
			<property name="nodeName" value="rageon_solr" /> -->
	</bean>
	
	<!-- 自定义配置 -->
	<bean id="activeMqService" class="com.adanac.tool.rageon.service.module.mq.ActiveMqServiceImpl" >
		<!-- 这里的value值rage_monitor 是统一配置disconf中的配置项，如应用hh_rageon_rd环境中的key值   
			它代表的是一人路径，zookeeper是去加载这个路径 adanac//rage_monitor
		<property name="nodeName" value="rage_monitor" />
		-->
	</bean>
	
	<!-- 定时任务 -->
	<task:scheduled-tasks>
		<task:scheduled ref="pushTaskJob" method="excute" cron="0 * * * * ?" />
	</task:scheduled-tasks>
	
	<!-- 开启这个配置，spring才能识别@Scheduled注解 -->
	<task:annotation-driven scheduler="qbScheduler"
		mode="proxy" />
	<task:scheduler id="qbScheduler" pool-size="10" />
</beans>