<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


   <!-- example spring-->

    <!--ActiveMQ-->

	<!-- MQConfig -->
    <bean id="mqConfig" class="com.adanac.framework.mq.activemq.MQConfig">
        <property name="brokerURL" value="${mq.server}"/>
        <property name="userName" value="admin"/>
        <property name="password" value="admin"/>
    </bean>

	<!-- MQTemplate -->
   	<bean id="activeMQTemplate" class="com.adanac.framework.mq.activemq.MQTemplate">
   		<constructor-arg  ref="mqConfig"></constructor-arg>
   	</bean>
   	
   	<!-- <bean id="activeMQTemplate1" class="com.adanac.framework.mq.activemq.MQTemplate">
   		<constructor-arg value="test/ActiveMQConfig.properties"></constructor-arg>
   	</bean> -->
   	
   	<!-- MQConsumer -->
   	<bean id="monitorConsumer" class="com.adanac.framework.mq.activemq.consumer.MQConsumer">
   		<constructor-arg ref="activeMQTemplate"></constructor-arg>
   	</bean>
   	
   	<!-- MQProducer -->
   	 <bean id="monitorProducer" class="com.adanac.framework.mq.activemq.producer.MQProducer">
   		<constructor-arg ref="activeMQTemplate"></constructor-arg>
   	</bean>
   	
    <!--ActiveMQ-->
</beans>